* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #BBCEA8;
    color: #E3D87E;
}

header {
    background-color: #0B0A07;
    padding: 40px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
}

header p {
    margin-top: 10px;
    font-size: 1.2rem;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #E3D87E;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.projects-title {
    text-align: center;
    margin: 4rem 0 2rem;
    font-size: 2.5rem;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    max-width: 1800px;
    margin: 0 auto 5rem;
    padding: 0 1rem;
}


.project-card {
    background-color: #0B0A07;
    aspect-ratio: 16 / 10;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2rem;
    text-align: center;

    position: relative;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 1rem;
    background: rgba(0, 0, 0, 0.65);
    color: #E3D87E;
    font-size: 1.5rem;
    text-align: center;
}

.project-title {
    opacity: 0;
    transform: translateY(10px);
    transition: 0.3s ease;
}

.project-card:hover .project-title {
    opacity: 1;
    transform: translateY(0);
}

.project-card img {
    transition: transform 0.4s ease;
}

.project-card:hover img {
    transform: scale(1.05);
}



footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 1200px) {
    .parent {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .parent {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2.2rem;
    }

    .projects-title {
        font-size: 2rem;
    }
}